body {
    background-color: rgb(255, 255, 255);

}
em strong {
    color: rgb(104, 0, 0);
}
p{
    text-align: center;
}
#missao {
    font-size: 20px;
}
.itens {
    font-style: italic;
}
.banner {
    width: 100%;
}
.imagem-beneficios {
    width: 50%;
}
.beneficios{
    padding: 2opx;
    background: #e7e7e7;
}
ul {
    display: inline-block;
    vertical-align: top;
    margin-right:10% ;
}

.principal {
    background: #e7e7e7;
    padding: 30px;
}
.titulo-centralizado {
    text-align: center
}
.titulo-principal{
    padding-left: 20px;
}
.FernandoMiguel {
    padding: 20px;
    width: 20%;
}